@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1.5rem;
  background-image: linear-gradient(
    to bottom right,
    #1a0b2e,
    #2d1b4e,
    #2a1b4e,
    #26085c,
    #1f1f74
  );
}

html {
  scroll-behavior: smooth;
}

/* ###################### html elements styling ########################## */

html {
  /* 1rem = 16px = 100%; */
  font-size: 62.5%;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
}

button {
  display: inline-block;
  background-image: linear-gradient(
    to right bottom,
    #68dbe9,
    #32cef8,
    #12bdff,
    #4fa8ff,
    #898eff,
    #9b7cf7,
    #af68ea,
    #c14ed9,
    #b942da,
    #b135db,
    #a726dc,
    #9d13de
  );
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* ############## utillity classes ################## */

.container {
  width: min(90%, 1500px);
  margin: 0 auto;
  padding: 1rem 0;
}

.btn1 {
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  margin-top: 2.5rem;
  border-radius: 20px;
  border: none;
}

.btn2 {
  border-radius: 40%;
  padding: 0.5rem;
}

.lgHeading {
  font-size: 4.9rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.mdHeading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

.smlHeading {
  font-size: 2rem;
}

.textBlue {
  color: rgb(110, 244, 246);
}

.textWhite {
  color: rgb(255, 255, 255);
}
